@import url(https://fonts.googleapis.com/css?family=Noto+Sans:400,700);

* {
-webkit-font-smoothing: antialiased;
-webkit-text-size-adjust: 100%;
}

body {
  font-weight: normal;
  font-style: normal;
}

div {
  max-width: 300px;
  margin: 20px auto;
}

h1 {
  font-family: 'Helvetica Neue', serif;
  color: #9b0000;
}

p {
  font-family: 'Helvetica Neue', sans-serif;
  color: #333;
}

a:link, a:visited {
	color: #9b0000;
	text-decoration: underline;
}

.tz-gallery .lightbox img {
  width: 100%;
  margin: 20px auto;
}

.row {
  margin-top: -45px;

}

@media only screen and (min-width: 1000px) {
  div {
    max-width: 800px;
    min-width: 200px;
    margin: 50px auto;
  }
  p {
    font-size: 1.3em;
    line-height: 1.5em;
  }
  ul {
    font-size: 1.3em;
  }
}
