
 @import url('https://fonts.googleapis.com/css?family=Muli');
html {
  font-family: 'Muli', sans-serif;
}

body {
	margin-top: 50px;
	margin-bottom: 50px;
	background-color: #F2F2F2;
}

.logo-banner {
    display: block;
    margin: 0 auto;
}

.full {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

* {
  box-sizing: border-box; }

canvas {
  position: fixed;
  z-index: -1;
  width: 0%;
  height: 0%;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  opacity:.5;
}

#canvasHome {
  opacity: 1;
}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

a {
  color: #9b0000;
}

.navbar .navbar-collapse {
  text-align: center;
}

.navbar {
  background-color: none;
}

.banner {
  position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%,-50%);
}

.name {
  font-size: 15vw;
  font-weight: 500;
  color: #9b0000;
}

.tagline {
  font-size: 5vw;
}

.info-bar {
  text-decoration: underline;
  color: #9b0000;
}

@media only screen and (min-width: 1000px) {
  .name {
    font-size: 3vw;
  }
  .tagline {
    font-size: 1vw;
  }
  canvas {
    height: 100%;
    width: 100%;
  }
  .logo-banner {
      width: 50%;
  }
}

h1 {
  font-size: 100px;
  text-align: center;
  color: #fff;
  line-height:0em;
}
h2 {
  font-size: 30px;
  text-align: center;
  color: #CC918F;
}
h3 {
  font-size: 20px;
  text-align: center;
  color: #9B0400;
}
p {
  text-align: left;
}

 #faq p {
   text-align: center;
 }

.head {
    z-index:1;
    width: 70%;
    background-color: #9B0400;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 40px;
    margin-bottom: 0;
    box-shadow: 0px -10px 155px -16px rgba(0,0,0,0.34);
}  
  .main{
    z-index:2;
    width: 70%;
    background-color: #fff;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -40px;
    padding-left: 12%;
    padding-right: 12%;
    padding-top: 20px;
    padding-bottom: 20px;  
    box-shadow: 0px -10px 155px -16px rgba(0,0,0,0.34);
  }

  .tz-gallery .lightbox img {
  width: 100%;
  margin: 20px auto;
}
#menuLogo img{
  width: 40px;
  margin-top: -10px;
}
