/* Importing Muli font */
@import url('https://fonts.googleapis.com/css?family=Muli');

/* Basic styles */
html {
  font-family: 'Muli', sans-serif;
  zoom: 110%;
}

body {
	margin-top: 50px;
	margin-bottom: 50px;
	background-color: #F2F2F2;
}

.logo-banner {
    display: block;
    margin: 0 auto;
}

.full {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

* {
  box-sizing: border-box; }

/* Canvas Dot Styling */
canvas {
  position: fixed;
  z-index: -1;
  width: 0%;
  height: 0%;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  opacity:.5;
}

#canvasHome {
  opacity: 1;
}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

a {
  color: #9b0000;
}

/* centered image */
.banner {
  position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%,-50%);
}

/* smooth scrolling */
html {
  scroll-behavior: smooth;
}

/* header ofset for scrolling */ 
h3 { 
  position:relative; 
  z-index: 0;
}
h3 span { 
  position:absolute; 
  top:-70px;
}

/* disbles canvas on smaller screens */
@media only screen and (min-width: 1000px) {
  .name {
    font-size: 3vw;
  }
  .tagline {
    font-size: 1vw;
  }
  canvas {
    height: 100%;
    width: 100%;
  }
}

/* font styles */
h1 {
  font-size: 7vw;
  text-align: center;
  color: #fff;
  line-height:0em;
}
h2 {
  font-size: 30px;
  text-align: center;
  color: #CC918F;
}
h3 {
  font-size: 20px;
  text-align: center;
  color: #9B0400;
}
p {
  text-align: left;
}
#faq p {
   text-align: center;
 }
a {
  color: #9b0000;
}

 /* body head and main styles for generic pages */
@media only screen and (max-width: 700px) {
  .head {
    z-index:1;
    width: 100%;
    background-color: #9B0400;
    margin-top: 60px;
    margin-left: 0;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 40px;
}  
.main{
    z-index:2;
    width: 100%;
    background-color: #fff;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -40px;
    padding-left: 12%;
    padding-right: 12%;
    padding-top: 20px;
    padding-bottom: 20px;  
    box-shadow: 0px -10px 155px -16px rgba(0,0,0,0.34);
  }
}
@media only screen and (min-width: 700px) {
  .head {
    z-index:1;
    width: 70%;
    background-color: #9B0400;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 40px;
    margin-bottom: 0;
    box-shadow: 0px -10px 155px -16px rgba(0,0,0,0.34);
  }  
  .main{
    z-index:2;
    width: 70%;
    background-color: #fff;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -40px;
    padding-left: 12%;
    padding-right: 12%;
    padding-top: 20px;
    padding-bottom: 40px;  
    box-shadow: 0px -10px 155px -16px rgba(0,0,0,0.34);
  }
}

/* about page gallery stlying */
.item img{
  width: 300px;
}
.container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  padding-bottom: 20px;
}

/* seminars page styling */
<<<<<<< HEAD
  .key {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-top: 10px;
  }

=======
.key {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
>>>>>>> 801fcd01d7262e6908cab238cfd743741f263792
.key h4 {
  font-size: 25px;
  text-align: center;
  padding: 10px;
}
.keyBox {
  width: 140px;
  height: 140px;
  border-radius: 10px;
  margin: 20px;
  color: white;
}
#research {
  background-color: #C48F65;
}
#society {
  background-color: #005960;
}
#applied {
  background-color:#BE9EC9;
}


.wrapper {
  display: flex;  
  flex-flow: row wrap;
  font-weight: bold;
  text-align: center;
}

.seminarContainer {
  display: flex;  
  flex-flow: row wrap;
  font-weight: bold;
  text-align: center;
  color: white;
}
.seminarContainer > * {
  padding: 10px;
  flex: 1 100%;
}
.seminarContainer h4{
  color: black;
}

.seminarDate {
  min-width: 40px;
  display: flex;
  margin-bottom: -20px;
  margin-top: 40px;
}
.seminarDate h2, h4{
  text-align: left;
}
.seminarDate h4{
  padding-left: 20px;
  padding-top: 15px;
}

@media only screen and (max-width: 1300px) {
  .seminarDetails {
    background-color: #9B0400;
    min-height: 150px;
    flex-grow: 4;
    padding: 10px;
    height: 100%;
    z-index: 0;
    border-radius: 10px 10px 0px 0px;
  }
}
@media only screen and (min-width: 1300px) {
  .seminarDetails {
    background-color: #9B0400;
    min-height: 150px;
    flex-grow: 4;
    padding: 10px;
    z-index: 0 ;
    border-radius: 0px 0px 0px 0px;
  }
}
.seminarDetails h3 {
  text-align: left;
  color: white;
}

@media only screen and (max-width: 1300px) {
  .seminarCategory {
    max-width: 50%;
    height: 30vh;
    border-radius: 0px 0px 0px 10px;
    z-index: 0;
  }
}
@media only screen and (min-width: 1300px) {
  .seminarCategory {
    max-width: 5%;
    border-radius: 10px 0px 0px 10px; 
  }
}

@media only screen and (max-width: 1300px) {
  .seminarSpeakerImage {
    max-width: 50%;
  }
  .seminarSpeakerImage img {
    width: calc(100% + 24px); /* weird 10px padding bug, fix when time */
    height: 30vh;
    border-radius: 0px 0px 10px 0px;
    margin-left: -14px;  /* weird 10px padding bug, fix when time */
    margin-top: -10px; /* weird 10px padding bug, fix when time */
    z-index: 10; /* weird 10px padding bug, fix when time */
  }
}
@media only screen and (min-width: 1300px) {
  .seminarSpeakerImage {
    max-width: 30%;
    margin-left: -10px; /* weird 10px padding bug, fix when time */
    margin-top: -10px; /* weird 10px padding bug, fix when time */
  }
  .seminarSpeakerImage img {
    width: 100%;
    height: calc(100% + 10px); /* weird 10px padding bug, fix when time */
    border-radius: 0px 10px 10px 0px;
  }
}

@media all and (min-width: 1300px ) {
  .seminarDetails    { flex: 3 0px; }
  .seminarCategory { order: 1; } 
  .seminarDetails    { order: 2; }
  .seminarSpeakerImage{ order: 3; }
}

 /* body head and main styles for seminar page */
 .seminarMain{
  z-index:2;
  background-color: #fff;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-top: -40px;
  padding-top: 20px;
  padding-bottom: 40px;  
  box-shadow: 0px -10px 155px -16px rgba(0,0,0,0.34);
}
 @media only screen and (min-width: 700px) {
  .seminarMain{
    width: 70%;
    padding-left: 4%;
    padding-right: 4%;
  }
}
@media only screen and (max-width: 700px) {
  .seminarMain{
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
  }
}
